:root {
    --primary-background: rgba(188, 162, 214, 0.561);
    --tertiary-background: rgb(103, 103, 233);
    --secondary-background: rgb(95, 158, 229);
    --shadow: rgba(0, 0, 0, 0.247);
    --primary-text-color: #3f64e9;
    --secondary-text-color: rgb(85, 67, 203);
    --tertiary-text-color: rgb(54, 0, 85);
    --ermine-sample-color1: #A38B69;
    --ermine-sample-color2: #7D8A9D;
}


* {
    font-family: Tahoma, sans-serif;
    transition: ease all .5s;
}

body {
    margin: 1.5%;
    background-color: rgba(59, 138, 229, 0.194);
    display: flex;
    flex-flow: row wrap;
}

h1 {
    align-self: top;
    color: var(--primary-text-color);
    font-size: 3rem;
    text-shadow: 1px 1px 19px var(--shadow);
}

h2 {
    font-size: 2.5rem;
    text-align: right;
    display: flex;
    align-content: center;
    justify-content: flex-end;
    width: 20%;
    text-shadow: 0px 3px 15px var(--shadow);
    color: var(--primary-text-color);
    border-right: 3px solid var(--secondary-text-color);
    padding-right: 2%;

}


header {
    width: 100%;
    background-image: linear-gradient(135deg, var(--primary-background), var(--secondary-background));
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 30px var(--shadow);
    border: solid var(--tertiary-background) 1px;
    border-radius: 10px;
}


header figure {
    margin: 2% 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


header image {
    height: 70%;
}

header nav {
    width: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

header li {
    display: flex;
    align-content: flex-end;
    margin-left: 2%;
    margin-bottom: 3%;
}

header a {
    display: flex;
    align-content: flex-end;
    font-size: 1.4rem;
    width: 100%;
    height: fit-content;
    color: var(--secondary-text-color);
    text-decoration: none;
    text-shadow: 1px 1px 5px var(--shadow);
}

header a:hover {
    font-weight: 900;
}

#profile-photo {
    width: 100px;
    border-radius: 0% 45%;
    box-shadow: 2px 2px 10px var(--shadow), 2px 2px 10px var(--shadow) inset;
    border: solid var(--shadow) 1px
}


#about-me {
    display: flex;
}


#about-me p {
    color: var(--tertiary-text-color);
    font-size: 1.5rem;
    margin-left: 2%;
    width: 80%;
    display: flex;
}


#work {
    display: flex;
    flex-wrap: row wrap;
    min-height: 50%;
    align-content: center;
}


@keyframes shakey-hover {
    0% {
        transform: translate(1px, 1px);
    }
    
    100% {
        transform: translate(0px, 0px);
    }
}

#work ul {
    width: 80%;
    height: calc(50vh - 200px);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}


#first-work-element {
    display: flex;
    /* height: 3rem; */
    flex-grow: 2;
    width: 90%;
    height: 45%;
}

.work-element {
    display: flex;
    align-self: auto;
    width: 48%;
    height: 25%;
}

#first-work-element:hover,
.work-element:hover {
    animation: shakey-hover ease 0.5s;
    box-shadow: inset 0px 0px 10px var(--shadow), 0px 0px 20px var(--shadow);

}
#work figure {
    background-image: url("../images/ermineStockPhoto.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
/* I prefer the linear gradient background so I will save this. But I think I need to use an image as per the instructions */
    /* background-image: linear-gradient(to right, var(--tertiary-background), var(--secondary-background)); */
    border: var(--primary-backgroung) solid 2px;
    box-shadow: inset 0px 0px 5px var(--shadow), 0px 0px 20px var(--shadow);
    margin: 1%;
    border-radius: 7px 20px;
}

#work a {
    height: 50%;
    background-image: linear-gradient(135deg, var(--ermine-sample-color1), var(--ermine-sample-color2));
    border-radius: 10px;
    font-size: 1.5rem;
    color: var(--tertiary-text-color);
    text-decoration: none;
    position: relative;
    top: 50%;
    left: 3%;
}



#contact-info {
    display: flex;
}

#contact-info ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    list-style: none;
}

#contact-info li {
    display: flex;
    justify-content: flex-start;
    font-size: 1rem;
}

#contact-info p {
    font-size: 1.2rem;
}

#contact-info a {
    text-decoration: none;
    align-self: center;
    padding-left: 3%;
}


#email {
    font-weight: bold;
}


#github {
    font-weight: bold;
}

#resume {
    font-weight: bold;
}

@media screen and (max-width: 992px) {

    h2 {
        font-size: 2rem;

    }


    header {

        flex-direction: column;
        align-items: center;


    }


    header figure {
        width: 100%;
        margin: 2% 1%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
    }

    header nav {
        width: 95%;
    }

    #contact-info li {
        flex-direction: column;
    }
}

@media screen and (max-width: 682px) {

    h2 {
        justify-content: flex-start;
        font-size: 2.5rem;
        width: 50%;
        border-bottom: 3px solid var(--secondary-text-color);
        border-right: none;
        margin: 2% 2%
    }

    #about-me {
        flex-flow: column;
    }


    #about-me p {
        width: 100%;
        margin-left: 0;
    }

    #work {
        flex-flow: column nowrap;
        min-height: auto;

    }

    #work ul {
        width: 100%;
        padding-left: 0;
    }
   

    #work figure {
        width: 100%;
    }
    
    #contact-info {
        flex-flow: column nowrap;
    }

    #contact-info ul {
        flex-flow: row nowrap;
        width: 100%;
        padding-left: 0;
        justify-content: space-around;
        align-items: flex-start;
    }

    #contact-info li p {
        margin: 0;
        position: relative;
        right: 10px;

    }

    #contact-info li a {
        margin-top: 1%;
    }


}