* {
    font-family: Papyrus, 'Arial Narrow', Arial, sans-serif ;
}

body {
    background-color: rgba(59, 138, 229, 0.194);
}

header {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: space-between;
    font-size: 20px;
    background-color: rgba(64, 63, 63, 0.172);
    padding: 15px 5px;
}

header h1 {
    font: "Montserrat";
    color: #3f64e9;
    font-size: 30px;
}

header nav {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    list-style: none;
    }

header ul {
    padding-left: 70px;
    font-size: 20px;
    align-items: center;
}
header a {
    padding-left: 15px;
    text-decoration: none;
    color: salmon;
}

img {
    width: 200px;
    border-radius: 45%;
    box-shadow: 2px 2px 5px grey;
}

section {
    display: flex;
    flex-direction: column;
}

article {
    display: flex;
    flex-direction: row;
    background-color: rgba(246, 174, 65, 0.789);
}

p {
    padding: 10px;
    background-color: bisque;
}

#about-me {
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    text-align: right;
    background-color: rgba(246, 237, 65, 0.789);
}

#contact-info {
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    text-align: right;
    background-color: rgba(246, 237, 65, 0.789)
}

#contact-info nav {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    list-style: none;
    }
    
#work {
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    text-align: right;
    background-color: rgba(246, 237, 65, 0.789)
    
}


#email {
    font-weight: bold;
}


#github {
    font-weight: bold;
    background-color: inherit email;
}

#resume {
    font-weight: bold;
}