:root {
    --primary-backgroung: rgb(103, 103, 233);
    --secondary-background: rgb(95, 158, 229);
    --text-shadow: rgba(0, 0, 0, 0.247);
    --primary-text-color: #3f64e9;
    --secondary-text-color: slateblue;
}


* {
    font-family: Tahoma, sans-serif;
    /* border: 3px solid black; */
    /* margin: .5%; */
}

/* img {
    width: 200px;
    height: 200px;
    border-radius: 15px;
    border: rgba(28, 30, 33, 0.194) solid 3px;
    box-shadow: inset 2px 2px 5px grey, 2px 2px 5px grey;
} */

body {
    margin: 1.5%;
    background-color: rgba(59, 138, 229, 0.194);
    display: flex;
    flex-flow: row wrap;
}

h2 {
    font-size: 2.5rem;
    text-align: right;
    display: flex;
    align-content: center;
    justify-content: flex-end;
    width: 20%;
    text-shadow: 0px 3px 15px var(--text-shadow);
    color: var(--primary-text-color)
}


header {
    width: 100%;
    background-color: rgba(64, 63, 63, 0.172);
    display: flex;
}

header h1 {
    color: var(--primary-text-color);
    font-size: 3rem;
    width: 50%;
    text-shadow: 1px 1px 19px var(--text-shadow);
}

header image {
    height: 70%;
}

header nav {
    width: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    list-style: none;
}

header li {
    display: flex;
    align-content: flex-end;
    margin-left: 10px;
}

header a {
    /* border: 3px solid black; */
    display: flex;
    align-content: flex-end;
    font-size: 1.4rem;
    width: 100%;
    height: fit-content;
    color: var(--secondary-text-color);
    text-decoration: none;
    text-shadow: 1px 1px 5px var(--text-shadow);
}

header a:hover {
    font-weight: 900;
}

.profile-photo {
    width: 200px;
    border-radius: 45%;
    box-shadow: 2px 2px 5px grey;

}


#about-me {
    display: flex;
    /* border: 3px solid black; */
    display: flex;
    font-family: "Roboto", sans-serif;
    text-align: right;
}


#about-me p {
    font-size: 1.5rem;
    margin-top: 4%;
    margin-left: 2%;
    /* border: 3px solid black; */
    width: 70%;
    display: flex;
    text-align: left;
}

/* #work {
    display: flex;
    justify-content: space-around;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
} */


#work {
    display: flex;
    flex-wrap: row wrap;
    justify-content: space-between;
    /* width:%; */
    /* padding: 0 10%; */
    align-content: center;
}

#first-work-element:hover, .work-element:hover {
    animation: shakey-hover ease 0.5s;

}

@keyframes shakey-hover {
    0% {
        transform: translate(1px, 1px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

#work ul {
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#work article {
    background-image: linear-gradient(to right, var(--primary-backgroung) , var(--secondary-background));;
    border: var(--primary-backgroung) solid 2px;
    margin: 1%;
}

#work p {
    text-align: center;
}

#first-work-element {
    display: flex;
    flex-grow: 1;
    width: 90%;
    height: 45%;
    /* background-image: url("../images/alaskaBridge.jpeg");
    background-size:cover;
    background-position: center center; */
}

.work-element {
    display: flex;
    align-self: auto;
    width: 45%;
    height: 45%;
}

#contact-info {
    /* background-color: rgba(89, 246, 65, 0.867); */
    display: flex;
    font-size: 25px;
}

#contact-info ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    list-style: none;
}

#contact-info li {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    font-size: 1rem;
}

#contact-info a {
    display: flex;
    text-decoration: none;
    align-content: center;
}


#email {
    font-weight: bold;
}


#github {
    font-weight: bold;
}

#resume {
    font-weight: bold;
}